<!-- /myproject/myapp/templates/myapp/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Equipment Rental{% endblock %}</title>
    <!-- Google Fonts: Noto Sans Thai -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Override Tailwind's font-sans with Noto Sans Thai */
        body {
            font-family: 'Noto Sans Thai', sans-serif;
        }
    </style>

</head>
<body class="bg-gray-100">
    <!-- Header with Navigation (Facebook-like dark blue) -->
    <header class="bg-[#155c94] text-white p-4 shadow">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">
                <a href="{% url 'home' %}" class="hover:text-gray-200 transition">CareEveryHome</a>
               
            </h1>
              
              
            <nav>
                <ul class="flex space-x-6 font-bold text-lg">
                    <li><a href="{% url 'home' %}" class="hover:text-gray-200 transition">Home</a></li>
                    <li><a href="{% url 'equipment_list' %}" class="hover:text-gray-200 transition">Product</a></li>
                    
                    <a href="/bookings/create/6/" class="text-gray-700 hover:text-white bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.25 3h1.4c.5 0 .9.3 1 .8l.4 1.4M7.5 14.25h11.2c1.1-2.3 2.1-4.7 2.9-7.1a60.1 60.1 0 0 0-16.5-1.8M7.5 14.25 5.1 5.27M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                        </svg>
                      </a>
                      
                      
                      </div>
                      
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto p-6">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer (Facebook-like light gray) -->
    <footer class="bg-white text-gray-600 py-4 mt-6">
        <div class="max-w-7xl mx-auto px-4 text-center">
          <p class="text-sm">&copy; 2025 Care Every Home. All rights reserved.</p>
        </div>
      </footer>      
</body>
</html>